dev/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>Vida Artificial</title>
    <link href="../bower_components/normalize-css/normalize.css" rel="stylesheet"/>
    <link href="../bower_components/flexboxgrid/dist/flexboxgrid.min.css" rel="stylesheet"/>
    <link href="css/main.css?v113015" rel="stylesheet"/>
  </head>
  <body>
    <section class="content">
      <div id="pispirispis-app" ng-app="pispirispis">
        <div id="controller-main" ng-controller="main">
          <section class="interfaz">
            <div id="area">
              <div id="plano" style="height: {{ planoConf.alto }}px; width: {{ planoConf.ancho }}px;"><span class="p {{ (t.genero == generos.h)?'h':'' }}" ng-repeat="t in tropus.individuos" style="left: {{ t.getPosicion().x }}px;top: {{ t.getPosicion().y }}px;height: {{ t.tamanio }}px;width: {{ t.tamanio }}px;" data-energia="{{ t.energia }}" data-etapa="{{ t.etapas[t.etapa.etapa].nombre }}" data-etapa-duracion="{{ t.etapa.duracion }}"></span><span class="p pi {{ (i.genero == generos.h)?'h':'' }}" ng-repeat="i in inopios.individuos" style="left: {{ i.getPosicion().x }}px;top: {{ i.getPosicion().y }}px;height: {{ i.tamanio }}px;width: {{ i.tamanio }}px;" data-energia="{{ i.energia }}" data-etapa="{{ i.etapas[i.etapa.etapa].nombre }}" data-etapa-duracion="{{ i.etapa.duracion }}"></span><span class="a" ng-repeat="a in plano.alicanolas" style="left: {{ a.posicion.x }}px;top: {{ a.posicion.y }}px;height: {{ a.tamanio }}px;width: {{ a.tamanio }}px;"></span><span class="f" ng-repeat="f in plano.fifirufas" style="left: {{ f.posicion.x }}px;top: {{ f.posicion.y }}px;height: {{ f.tamanio }}px;width: {{ f.tamanio }}px;"></span></div>
              <div class="etiquetas">
                <div class="item">
                  <p><strong>Pispirispis - Tropus</strong></p>
                  <p class="row not-margin not-wrap"><span class="p"></span><span>Machos</span><span class="number">{{ tropus.machos }}</span></p>
                  <p class="row not-margin not-wrap"><span class="p h"></span><span>Hembras</span><span class="number">{{ tropus.hembras }}</span></p>
                </div>
                <div class="item">
                  <p><strong>Pispirispis - Inopios</strong></p>
                  <p class="row not-margin not-wrap"><span class="p pi"></span><span>Machos</span><span class="number">{{ inopios.machos }}</span></p>
                  <p class="row not-margin not-wrap"><span class="p pi h"></span><span>Hembras</span><span class="number">{{ inopios.hembras }}</span></p>
                </div>
                <div class="item">
                  <p class="row not-margin not-wrap"><span class="a"></span><span>Alicanolas</span><span class="number">{{ plano.alicanolas.length }}</span></p>
                  <p class="row not-margin not-wrap"><span class="f"></span><span>Fifirufas</span><span class="number">{{ plano.fifirufas.length }}</span></p>
                </div>
              </div>
            </div>
            <div id="control">
              <h1>Control</h1>
              <form ng-submit="submit()">
                <fieldset ng-disabled="avanzar">
                  <div class="section">
                    <h2>Espacio</h2>
                    <div class="row">
                      <div class="col-xs-6">
                        <label class="form__label">Ancho</label>
                        <input class="form__input" type="number" ng-model="planoConf.ancho" min="300"/>
                      </div>
                      <div class="col-xs-6">
                        <label class="form__label">Alto</label>
                        <input class="form__input" type="number" ng-model="planoConf.alto" min="300"/>
                      </div>
                      <div class="col-xs-12">
                        <label class="form__label">Velocidad</label>
                        <input class="form__input" type="number" ng-model="velocidad" min="1" max="100"/>
                      </div>
                    </div>
                    <hr/>
                    <h2>Población</h2>
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 style="margin-top:0; margin-bottom:6px;">Pispirispis - Tropus</h4>
                        <div class="row">
                          <div class="col-xs-6">
                            <label class="form__label">Machos</label>
                            <input class="form__input" type="number" ng-model="poblacionInicial.tropus.machos" min="1" max="2000" required="required"/>
                          </div>
                          <div class="col-xs-6">
                            <label class="form__label">Hembras</label>
                            <input class="form__input" type="number" ng-model="poblacionInicial.tropus.hembras" min="1" max="2000" required="required"/>
                          </div>
                        </div>
                        <h4 style="margin-bottom:6px;">Pispirispis - Inopios</h4>
                        <div class="row">
                          <div class="col-xs-6">
                            <label class="form__label">Machos</label>
                            <input class="form__input" type="number" ng-model="poblacionInicial.inopios.machos" min="1" max="2000" required="required"/>
                          </div>
                          <div class="col-xs-6">
                            <label class="form__label">Hembras</label>
                            <input class="form__input" type="number" ng-model="poblacionInicial.inopios.hembras" min="1" max="2000" required="required"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr/>
                    <h2>Etapas</h2>
                    <div class="row">
                      <div class="col-xs-12" ng-repeat="etapa in etapasConfig">
                        <h4 style="margin: 6px 0 0 0;">{{ etapa.nombre }}</h4>
                        <div class="row">
                          <div class="col-xs-6">
                            <label class="form__label">Tiempo (Dias)</label>
                            <input class="form__input" type="number" ng-model="etapa.duracion" min="0" required="required"/>
                          </div>
                          <div class="col-xs-6">
                            <label class="form__label">Energia</label>
                            <input class="form__input" type="number" ng-model="etapa.energia" min="0" required="required"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr/>
                    <h2>Alimento</h2>
                    <div class="row">
                      <div class="col-xs-6">
                        <label class="form__label">Cada (Dia)</label>
                        <input class="form__input" type="number" ng-model="generacionAlicanolas.tiempo" min="0" max="100" required="required"/>
                      </div>
                      <div class="col-xs-6">
                        <label class="form__label">Cant Max</label>
                        <input class="form__input" type="number" ng-model="generacionAlicanolas.cantidadMax" min="0" max="10" required="required"/>
                      </div>
                    </div>
                    <hr/>
                    <h2>Fifirufas</h2>
                    <div class="row">
                      <div class="col-xs-6">
                        <label class="form__label">Energia</label>
                        <input class="form__input" type="number" ng-model="energiaFifirufa" min="0" required="required"/>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <hr/>
                <div class="row around-xs">
                  <button class="btn" type="submit">{{ (avanzar)?'Parar':'Iniciar'; }}</button><a class="btn" href="index.html">Reload</a>
                </div><br/>
              </form>
            </div>
            <div class="{{ mostrarDatos?'active':'' }}" id="analisis">
              <button class="activador" title="Datos" ng-click="toogleDatos()"><img class="to-svg" src="../assets/images/chart.svg"/></button>
              <div class="charts">
                <div class="row">
                  <div class="col-xs-12">
                    <canvas id="canvas-1"></canvas>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <canvas id="canvas-2"></canvas>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <canvas id="canvas-3"></canvas>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-xs-12">
                    <canvas id="canvas-4"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="../bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="js/main.js?v113015"></script>
  </body>
</html>

src/index.pug
extends _base

block content
    #pispirispis-app(ng-app="pispirispis")
        #controller-main(ng-controller="main")
            section.interfaz
                #area
                    #plano(style="height: {{ planoConf.alto }}px; width: {{ planoConf.ancho }}px;")
                        span.p(
                            ng-repeat="t in tropus.individuos",
                            style="" +
                                "left: {{ t.getPosicion().x }}px;" +
                                "top: {{ t.getPosicion().y }}px;" +
                                "height: {{ t.tamanio }}px;" +
                                "width: {{ t.tamanio }}px;",
                            class="{{ (t.genero == generos.h)?'h':'' }}",
                            data-energia="{{ t.energia }}",
                            data-etapa="{{ t.etapas[t.etapa.etapa].nombre }}",
                            data-etapa-duracion="{{ t.etapa.duracion }}")
                        span.p.pi(
                            ng-repeat="i in inopios.individuos",
                            style="" +
                                "left: {{ i.getPosicion().x }}px;" +
                                "top: {{ i.getPosicion().y }}px;"+
                                "height: {{ i.tamanio }}px;" +
                                "width: {{ i.tamanio }}px;",
                            class="{{ (i.genero == generos.h)?'h':'' }}",
                            data-energia="{{ i.energia }}",
                            data-etapa="{{ i.etapas[i.etapa.etapa].nombre }}",
                            data-etapa-duracion="{{ i.etapa.duracion }}")

                        span.a(
                            ng-repeat="a in plano.alicanolas",
                            style="" +
                                "left: {{ a.posicion.x }}px;" +
                                "top: {{ a.posicion.y }}px;" +
                                "height: {{ a.tamanio }}px;" +
                                "width: {{ a.tamanio }}px;")
                        span.f(
                            ng-repeat="f in plano.fifirufas",
                            style="" +
                                "left: {{ f.posicion.x }}px;" +
                                "top: {{ f.posicion.y }}px;" +
                                "height: {{ f.tamanio }}px;" +
                                "width: {{ f.tamanio }}px;")

                    .etiquetas
                        .item
                            p
                                strong Pispirispis - Tropus
                            p.row.not-margin.not-wrap
                                span.p
                                span Machos
                                span.number {{ tropus.machos }}
                            p.row.not-margin.not-wrap
                                span.p.h
                                span Hembras
                                span.number {{ tropus.hembras }}
                        .item
                            p
                                strong Pispirispis - Inopios
                            p.row.not-margin.not-wrap
                                span.p.pi
                                span Machos
                                span.number {{ inopios.machos }}
                            p.row.not-margin.not-wrap
                                span.p.pi.h
                                span Hembras
                                span.number {{ inopios.hembras }}
                        .item
                            p.row.not-margin.not-wrap
                                span.a
                                span Alicanolas
                                span.number {{ plano.alicanolas.length }}
                            p.row.not-margin.not-wrap
                                span.f
                                span Fifirufas
                                span.number {{ plano.fifirufas.length }}
                #control
                    include _control
                #analisis(class="{{ mostrarDatos?'active':'' }}")
                    include  _analisis
